.nav-link:hover{
  transition: .5s;
background-color: #ebf3fb;
}
.btn-hover:hover{
background: #000;
color: wheat;
}
.pricing {
  color: #231d4f;
}
.badged {
  background-color: rgb(80, 80, 224);
  color: wheat;
  border-radius: 20px;
  padding: 2rem 1rem;
  box-shadow: 2px 1px 20px rgb(120, 120, 216);
}
.notify-badge {
  position: absolute;
  background: rgb(214, 23, 23);
  height: 2rem;
  top: -1rem;
  right: 1.5rem;
  width: 2rem;
  font-size: 10px;
  border-radius: 90%;
  color: white;
}
footer {
  background-color: #0b0d17;
}
.button{
  width: 235px;
  height: 60px;
  transition: .5s;
}
.button:hover{
background-color: rgb(125, 155, 56);
}
.btn-2:hover{
  transition: .7s;
  background-color: wheat;
  color: #000;
}
